<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center welcome-header">Welcome to Github Repo Searcher</h1>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Input a repo name"
          id="search-input"
        >
        <div class="input-group-append">
          <button
            class="btn btn-primary"
            type="button"
            id="search-btn"
          >
            Search
          </button>
        </div>
      </div>
      <div id="repo-secion">
        <%= render partial: 'apis/data', locals: { repos: @repos }  %>
      </div>
    </div>
  </div>
</div>
