// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.welcome-header{
	padding: 15px;
}

.repo-pages{
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
